body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{  
height: 100px;
background: #ccc;
padding-top: 10px;
font-size: 2rem;
padding-left: 15px;
color: white;
}

.main-container{
    height: 100%;
}

.contact{
    padding: 0 200px 0 200px;
}
 

 
.middle{
    width: 100%;
    margin-top: 20px;
    float: left;
}

.middle-left{
    width: 30%;
    float: left; 
}

 
.middle-left .photo{
    height: 300px;
    width: 350px;
    background-image: url("img_5terre1.jpg");
    background-size: cover;
     
}
    .middle-right {  
        width: 65%;
        float: left;
        margin-left: 50px;
}









