*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboard{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    border: 2px solid black;
    width: 90%;
    height: 90%;
}


.chessboard div{ 
    font-size: 35px;
    text-align: center;
    height: 80px;
    width: calc(100% / 8);
    text-shadow: 2px 1px white;
}

.a{
    background-color: white;
}


.b{
    background-color: black;
}


