body{
    padding: 0px;
    margin: 0;
}

.main-container{
    height: 100vh;
    width: auto;
}

.main-container .content{
    height: 1000px;
}

.content .parent{
    height: calc(100vh - 1000px);
    padding: 20px 200px 0 200px;
    width: 80%;
    font-size: 50px;
    text-align: center;
    text-shadow:2px 1px white;
}

.parent .a{
    background-color: white;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    float: left;

}

.parent .b{
    background-color: black;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    float: left;

}


