body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: #e5e5e5;
    border: 10px solid #1d1e4c;
}

.content{
    margin: 250px;
}

.photo{ 
    height: 250px;
    width: 300px;
    background-image: url("apj.jpg");
    background-size: cover;
    border-radius: 50% 50% 45% 45%;
} 


.middle-right{
    float: right;
    text-align: center;
    
}



.heading{
    font-size: 3rem;
    color: blue;
}

.date{
   
    font-size: 2rem;
}

.heading2{ 
    margin-top: 50px;
    font-size: 4.5rem;
    padding-top: 20px;
}

.Avul{
    font-size: 2rem;
}

.Avul2{
    font-size: 1.5rem;
}

.link{
    text-align: right;
    font-size: 1.5rem;
    color: blue;
}